.film {
  margin: 10px 0;
  background-color: #2e293f;
  padding: 5px 0 20px;

  &__cards {
    transition: all 0.2s linear;
  }

  &__items {
    gap: 24px;
    color: #a5bbdc;
    transition: all 0.2s linear;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__genre{
    font-size: 12px;
  }

  &__text {
    font-size: 10px;
  }

  &__date {
    color: #798fa6;
  }

  &__search {
    color: #a5bbdc !important;
  }

  &__search::-webkit-input-placeholder {
    color: #a5bbdc;
  }
}
