.footer {
  padding: 15px;
  background-color: #222933;

  & .container {
    position: relative;
  }

  &__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    transition: all 0.3s linear;
  }

  &__item:hover {
    transform: scale(1.1);
  }

  &__link {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #a5bbdc;
    text-transform: uppercase;
    transition: all 0.3s linear;
  }

  &__markets {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
}

#svg51:hover {
  transition: none 0.3s ease-in;
}

#svg51:hover #path11 {
  fill: transparent;
}

#svg52:hover path:nth-child(3) {
  fill: transparent;
}
