.header {
  padding: 15px;
  background-color: #222933;

  &__link {
    font-size: 18px;
    font-style: italic;
    color: #a5bbdc;
  }

  &__item {
    transition: all 0.3s linear;
  }

  &__item:hover {
    transform: scale(1.1);
  }
}
