.header {
  padding: 15px;
  background-color: #222933;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__link {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #A5BBDC;
    text-transform: uppercase;
  }
}
